/* GENERAL */
/* GENERAL */
/* GENERAL */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

:root {
    --light-green: rgb(159, 223, 159);
    --dark-green: rgb(38, 69, 38);
    --very-light-green: rgb(237, 251, 237);
    --gray: rgb(85, 85, 85);
    --nav-height: 7.5vh;        /* These should */   
    --section-height: 92.5vh;   /* sum to 100vh */
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: "Poppins", sans-serif; */
    font-family: "Jost", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: var(--gray);
}



/* TRANSITION */
/* TRANSITION */
/* TRANSITION */

a, 
.btn {
    transition: all 300ms ease;
}

nav, 
.nav-links {
    display: flex;
}

.nav-background {
    background-color: white;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    border-bottom: 0.1rem solid var(--dark-green)
}

nav {
    justify-content: space-around;
    align-items: center;
    height: var(--nav-height);
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    /* Mouse hover over links in navigation bar */
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: lightgray;
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}



/* HAMBURGER */
/* HAMBURGER */
/* HAMBURGER */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all .1s ease-in-out;
}

.hamburger-icon:hover span {
    /* Mouse hover over Hamburger icon */
    background-color: gray;
}

.menu-links {
    opacity: 0;     /* Have hamburger menu become visible once clicked */
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    border-radius: 1rem;
    border: var(--dark-green) 0.15rem solid;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all .15s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-links a:hover {
    /* Mouse hover over links in Hamburger */
    color: gray;
}

.menu-links li {
    list-style: none;
}

/* Action for opening hamburger */
.menu-links.open {
    opacity: 1;
    max-height: 300px;
}

/* Turning the Hamburger into an X upon clicking on it */
.hamburger-icon.open span:first-child { 
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    display: none;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}



/* SECTIONS */
/* SECTIONS */
/* SECTIONS */

section {
    padding-top: var(--nav-height);
    height: 92.5vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}



/* PROFILE SECTION */
/* PROFILE SECTION */
/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
    font-size: 1.75rem;
}

.section__text__p2 {
    margin-bottom: .75rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}



/* ICONS */
/* ICONS */
/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}



/* BUTTONS */
/* BUTTONS */
/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 600;
    font-size: medium;
    transition: 300ms ease;
    padding: 1rem;
    width: 8rem;
}

.btn-color-1, 
.btn-color-2 {
    border: var(--dark-green), 0.1rem solid;
}

.btn-color-2 {
    background-color: var(--dark-green);
    color: var(--light-green);
}

.btn-color-1:hover {
    background-color: var(--light-green);
}

.btn-color-2:hover {
    background-color: var(--light-green);
    color: var(--dark-green);
}



/* ABOUT SECTION */
/* ABOUT SECTION */
/* ABOUT SECTION */

#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers , 
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    background-color: white;
    border-radius: 2rem;
    border: var(--dark-green) 0.25rem solid;
    box-shadow: .1rem .1rem .5rem var(--dark-green);
    padding: 1.5rem;
    flex: 1;
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}



/* EXPERIENCE SECTION */
/* EXPERIENCE SECTION */
/* EXPERIENCE SECTION */

#experience {
    position: relative;
}

article {
    align-items: center;
    display: flex;
    text-align: initial;
    justify-content:space-between;
    gap: 0.5rem;
    width: 10rem;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: initial;
    gap: 2rem;
    justify-content: space-around;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.experience-sub-title {
    margin-bottom: 2.5rem;
    font-weight: 600;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-style:double;
}

article .icon {
    cursor: default;
}



/* CONTACT SECTION */
/* CONTACT SECTION */
/* CONTACT SECTION */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: var(--dark-green) 0.25rem solid;
    box-shadow: .1rem .1rem .5rem var(--dark-green);
    background: var(--very-light-green);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-info-container .icon {
    cursor: default;
    align-self: center;
    height: 3rem;
    width: 3rem;
}



/* FOOTER */
/* FOOTER */
/* FOOTER */

footer {
    height: 15vh;
}

footer p {
    text-align: center;
}